body {
  background: #333;
  color: #f5f5f5; }

.nav-clearfix {
  margin-top: 59px; }

section.left h1 {
  font-family: 'Titan One', cursive; }

section.left img {
  border-radius: 8px;
  overflow: hidden;
  filter: blur(0.75px); }

section.left .btn-outline-light:hover {
  color: #333; }

section.right {
  background: #328dc2; }
  section.right h1 {
    font-family: 'Titan One', cursive; }
  section.right img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    filter: blur(0.75px); }
  section.right .btn:hover {
    color: #328dc2; }

.navbar {
  border-bottom: #328dc2 3px solid; }
